*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: #1f2937;
}

.container{
    padding: 3%;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

nav .logo{
    font-size: 35px;
    font-style: italic;
    color: white;
    font-weight: bold;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}
nav ul li a:hover{
    background-color: rgb(red, green, blue);
}
.logotipo{
    width: 100%;
}
.logo-blog img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.secao-comentario{
    border: 0 auto;
}
.comentario{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 18px;
    padding: 10px;
}
.logo-comentarios{
    width: 80%; 
}

.post-usuarios{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.publicacao{
    border: 1px solid rgb(218, 216, 216);
    padding: 16px;
    border-radius: 18px;
}
.publicacao p{
    margin-top: 10px;
 }
 .publicacao h1 a{
    text-decoration: none;
 }
 .form-container {
    background-color: #1f2937;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 38px;
    margin-top: 25px;
  }

  .form-container h2 {
    margin-bottom: 20px;
    color: #ffffff;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }

  .form-group input, 
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .form-group textarea {
    resize: none;
    height: 100px;
  }

  .form-group button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-group button:hover {
    background-color: #0056b3;
  }

  .form-group .error {
    color: #ff0000;
    font-size: 12px;
  }
footer{
    width: 100%;
    font-size: 20px;
    margin-top: 30px;
    color: #fff;
}

.copywrite{
    text-align: center;
}